body {
  overflow-x: hidden;
}

.container {
  background: #fff;
  width: 900px;
  height: 750px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
}

.leftbox {
  float: left;
  top: 0%;

  position: absolute;
  width: 15%;
  height: 80%;
  background: #2ed573;

  border: 1em solid #fff;
}
nav a {
  list-style: none;
  padding: 35px;
  color: #fff;
  font-size: 1.1em;
  display: block;
}

nav a:hover {
  color: #10ac84;
  cursor: pointer;
}

nav a.active {
  color: #10ac84;
  cursor: pointer;
}

.rightbox {
  width: 60%;
  margin-left: 27%;
}

.tabShow {
  transition: all 0.5s ease-in;
  width: 80%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: #7ed386;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 35px;
}
h2 {
  color: #777;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 10px;
}

span {
  font-size: 0.7rem;
  color: #777;
}

.btn1 {
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  display: block;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  width: 50%;
  height: 50px;
  border-radius: 25px;
}

.input1 {
  border: 0;
  background: #fff;
  border-bottom: 1px solid #3fb6a8;
  width: 80%;
  font-family: "montserrat" sans-serif;
  font-size: 0.7rem;
  padding: 7px 0;
  color: #070707;
  outline: none;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
  form {
    width: 290px;
  }
  .leftbox {
    grid-gap: 5rem;
  }
  .rightbox {
    grid-gap: 5rem;
  }
  .tabShow {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    grid-gap: 5rem;
  }
  form {
    width: 290px;
  }
  .leftbox {
    grid-gap: 5rem;
  }
  .rightbox {
    grid-gap: 5rem;
  }
  .tabShow {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-gap: 5rem;
  }
  form {
    width: 290px;
  }
  .leftbox {
    grid-gap: 5rem;
  }
  .rightbox {
    grid-gap: 5rem;
  }
  .tabShow {
    grid-gap: 5rem;
  }
}
